<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>吉林</key>
	<string>101060201</string>
	<key>四平</key>
	<string>101060401</string>
	<key>大安</key>
	<string>101060603</string>
	<key>延吉</key>
	<string>101060301</string>
	<key>松原</key>
	<string>101060801</string>
	<key>白城</key>
	<string>101060601</string>
	<key>白山</key>
	<string>101060901</string>
	<key>辽源</key>
	<string>101060701</string>
	<key>通化</key>
	<string>101060501</string>
	<key>长春</key>
	<string>101060101</string>
</dict>
</plist>
